/* CSS Document */

body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background: #FFF;
	margin: 0;
	padding: 0;
	color: #000;
}

h1 {
	font-size: 36px;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 /* la eliminación del margen superior resuelve un problema que origina que los márgenes escapen de la etiqueta div contenedora. El margen inferior restante lo mantendrá separado de los elementos de que le sigan. */				
	margin-bottom: 0px;
	padding-right: 15px;
	padding-left: 50px; /* la adición de relleno a los lados del elemento dentro de las divs, en lugar de en las divs propiamente dichas, elimina todas las matemáticas de modelo de cuadro. Una div anidada con relleno lateral también puede usarse como método alternativo. */
}

a img {
	border: none;
}

a:link {
	color:#414958;
	text-decoration: underline; 
}
a:visited {
	color: #4E5869;
	text-decoration: underline;
}
a:hover, a:active, a:focus { 
	text-decoration: none;
}

.container {
	width: 100%;
	max-width: 1260px;
	min-width: 592px;
	background: #FFF;
	margin: 0 auto; 
}

.header {
	background: #FFF;
	text-align:center;
}

.sidebar1 {
	float: left;
	width: 20%;	
	background: #FFF;
	padding-bottom: 10px;
}
.content {
	padding: 10px 0;
	width: 60%;
	float: left;
	text-align:center;
}

.sidebar2 {
	float: left;
	width: 20%;
	background: #FFF;
	padding: 10px 0;
}

.footer {
	text-align:center;
	padding: 10px 0;
	background: #FFF;
	position: relative;
	clear: both; 
}
/* Logo CSS */
.logo_name {
	margin:auto;
	max-width: 600px;
	text-align:right;
	font-family: 'Monofett', sans-serif;
	text-decoration: none; 
}

.logo_name a:link {
	text-decoration: none; 
}

.logo_name a:visited {
	text-decoration: none; 
}

.logo_desc {
	margin:auto;
	max-width: 600px;
	text-align:right;
	font-family: 'Mountains of Christmas', cursive;
}

.credits {
	margin:auto;
	text-align:center;
	max-width: 1000px;
	font-family: 'Mountains of Christmas', cursive;
}

/* Buttons CSS*/

#form_search, #form_lucky_search {
	margin-top:10px;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	background-color:#f9f9f9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
#form_search:hover, #form_lucky_search:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
	background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
	background-color:#e9e9e9;
}
#form_search:active, #form_lucky_search:active {
	position:relative;
	top:1px;
}

/* Content boxes */

.search_box {
	width:270px;
	text-align:center;
	margin: 0 auto;
	display: inline-block;
}
.help_line {
	text-align:right;
}

.flash-notice{
	text-align:left;
}

#form_name {
	border:2px solid #456879;
	border-radius:10px;
	height: 22px;
	width: 270px;
}

.results{
	text-align:left;
}

.search_result {
	font-size:12px;			
}

.optional_info {
	font-size:10px;
	color: #BBB;
	font-style:italic;
}
.navigation {
	display:inline-block;
	font-size:11px;
	max-width: 100px;
	padding-right:50px;
	text-decoration:none;
}
.navigation_block {
	text-align:right;
}
